{% extends "layouts.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for item in exists %}
                <tr>
                    <th scope="row">{{item["symbol"]}}</th>
                    <td>{{item["name"]}}</td>
                    <td>{{item["quantity"]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <form action="/sell" method="post">
        <div class="mb-3">
            <h4>Enter The Symbol and Value of The Crypto Currency You Want To Sell</h4>
            <input id="symbol" name="symbol" autocomplete="off" autofocus name="q" placeholder="Symbol" type="text" class="form-control">
            <input id="qty" name="qty" autocomplete="off" autofocus name="q" placeholder="quantity" type="number" class="form-control">
        </div>
        <div>
            <button id="buy" class="btn btn-primary" type="submit"> Sell </button>
        </div>
    </form>
{% endblock %}